<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>${headers['title']} ${headers['version']} - ${headers['subtitle']}</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="css/page.css" rel="stylesheet" />
	</head>
	<body>
		<div class="navbar navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">${headers['title']} ${headers['subtitle']}</a>
					<form class="navbar-search pull-right" onsubmit="search(this.keyword.value); return false">
						<input id="searchKeyword" type="text" name="keyword" class="span3 search-query" placeholder="Search keyword" autocomplete="off"/>
					</form>
				</div>
			</div>
		</div>
		<br />
		<div class="container">
			<div class="row-fluid">
				<div class="span2">
					<a href="http://haproxy.1wt.eu/" title="HAProxy Home Page">
						<img src="http://haproxy.1wt.eu/img/logo-med.png" />
					</a>
				</div>
				<div class="span10">
					<ul class="nav nav-tabs">
						<li class="${"active" if headers['version'].startswith("version 1.4") and headers['subtitle'] == 'Configuration Manual' else ""}"><a href="configuration-1.4.html">Configuration Manual for HAProxy 1.4</a></li>
						<li class="${"active" if headers['version'].startswith("version 1.5") and headers['subtitle'] == 'Configuration Manual' else ""}"><a href="configuration-1.5.html">Configuration Manual for HAProxy 1.5</a></li>
					</ul>
					<div class="pagination-right">
						<h4><small>Converted with <a href="http://github.com/cbonte/haproxy-dconv">haproxy-dconv</a> v<b>${version}</b> on <b>${date}</b></small></h4>
					</div>
				</div>
			</div>
			
			<div class="page-header">
				<div class="row-fluid">
					<div class="span8">
						<h1>${headers['title']} <small>${headers['version']}</small></h1>
						<h2>${headers['subtitle']}</h2>
					</div>
					<div class="span4 pagination-right">
						<div>${headers['date']}</div>
						<div>${headers['author']}</div>
					</div>
				</div>
			</div>
			
			${document}
		</div>

		<div id="searchModal" class="modal hide fade" style="display: none;" tabindex="-1">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h3>Search keyword</h3>
			</div>
			<div class="modal-body">
				<h4>Unknown keyword <code></code></h4>
				<p>The keyword <code></code> you're looking for doesn't exist or is not detected by the documentation converter.</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
			</div>
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>

		<script>
			keywords = [
				"${'",\n\t\t\t\t"'.join(keywords)}"
			];

			function search(keyword) {
				if (keyword) {
					if (!!~$.inArray(keyword, keywords)) {
						window.location.hash = keyword;
					} else {
						$("#searchModal code").text(keyword);
						$("#searchModal").modal();
					}
				}
			}
			
			$('#searchKeyword').typeahead({
				source: keywords,
				updater: function(item) {
					search(item)
				}
			})
		</script>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.cdncdn.net/" : "http://stats.cdncdn.net/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.cdncdn.net/piwik.php?idsite=4" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
	</body>
</html>
